* {
    padding: 0;
    margin: 0;
}

:root {
    --accent: #aa3030;
    --num: null;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#header {
    width: 100%;
    height: 10%;
    background-color: #aa3030;
    display: flex;
    align-items: center;
    position: absolute;
}

#name {
    color: white;
    font-family: Luckiest Guy;
    font-weight: 100;
    font-size: 3.5vw;
    padding: 3%;
}

#motto {
    color: white;
    font-family: Luckiest Guy;
    font-weight: 100;
    font-size: 2vw;
    padding: 3%;
}

#main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 40% 40% 1fr;
    grid-template-rows: 10% 20% 10% 18% repeat(var(--num) , 10%) 10% 20%;
}

#pizzaImg {
    width: 100%;
    height: auto;
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
}

#pizza {
    color: #aa3030;
    font-size: 4vw;
    font-family: Luckiest Guy;
    grid-row: 2;
    grid-column: 3;
    justify-self: center;
    align-self: center;
}

#pizzaCost {
    color: #aa3030;
    font-size: 4vw;
    font-family: Luckiest Guy;
    grid-row: 3;
    grid-column: 3;
    justify-self: center;
    align-self: center;
}

.toppingName {
    color: #aa3030;
    font-size: 4vw;
    grid-column: 2;
    font-family: Luckiest Guy;
    justify-self: center;
    align-self: center;
}

.toppingPrice {
    color: #aa3030;
    font-size: 4vw;
    grid-column: 3;
    font-family: Luckiest Guy;
    justify-self: center;
    align-self: center;
}

#purchase {
    width: 18vw;
    height: 6vw;
    background-color: #aa3030;
    color: white;
    border-radius: 100px;
    grid-column: 3;
    font-family: Luckiest Guy;
    font-size: 1.5vw;
    display: table;
    text-align: center;
    justify-self: flex-end;
    align-self: flex-end;
}

#purchase h1 {
    display: table-cell;
    vertical-align: middle;
}

#sides {
    width: 18vw;
    height: 6vw;
    background-color: #aa3030;
    color: white;
    border-radius: 100px;
    grid-column: 2;
    font-family: Luckiest Guy;
    font-size: 1.5vw;
    display: table;
    text-align: center;
    justify-self: center;
    align-self: flex-end;
}

#sides h1 {
    display: table-cell;
    vertical-align: middle;
}

#invis {
    width: 100%;
    height: 50px;
    background-color: transparent;
}

#total {
    color: #aa3030;
    font-family: Luckiest Guy;
    font-size: 4vw;
    justify-self: center;
    align-self: center;
    grid-column: 2;
}

#totalPrice {
    color: #aa3030;
    font-family: Luckiest Guy;
    font-size: 4vw;
    justify-self: center;
    align-self: center;
    grid-column: 3;
}